.h1T {
    color: #7216f4;
    text-align: center; 
    font-size: larger;
    padding-top: 10px;
  }

  h3 {
    color: rgb(255, 255, 255);
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    
  }

  .blog_form{  
    width: 50%; 
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;  
    background-color: rgba(0, 0, 0, 0.7); 
    box-sizing: border-box;

  }

  .zona {
    display: flex;
    height: 85%;
    border-width: 5px;
    border-style: solid;
    border-color: black;
    
  }
  
.iframeblog {
  width: 95%; 
  height: 95%;
  margin-top: 10px;
  margin-left: 20px;
  border-radius: 5px;  
  background-color: rgba(0, 0, 0, 0.0); 
  box-sizing: border-box;
}

.contorno {
  width: 100%; 
  height: 80vh;
  margin: 5px;
  border-radius: 5px;  
  background-color: rgba(0, 0, 0, 0.0); 
  box-sizing: border-box;
  text-align: justify;
}


.sellos {
  height: 100px;
  width: 100px;
  padding-left: 40%;
  padding-top: 5%;
  
}

.e2 {
  background-color:  rgba(0, 0, 0, 0.7); 
 
}